body { 
   margin: 0px;
   font-family: 'Advent Pro';
  }
div.nav-container {
    overflow: auto;
    zoom: 1;
    margin-right: 14px;
    margin-left: 30px;
}
div.nav-menu {
    float: right;
}
h1.home {
    line-height: 10px;
    color: #fff;
}
.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}
.nav-menu ul li {
      display: inline;
      padding: 0px 8px 0px 8px;
      margin: 0px 8px 0px 8px;
  }
.nav-section {
    position: fixed;
    z-index: 1;
    height: 30px;
    width: 100%;
    padding-bottom: 25px;
    top:0;
    background-color: #6aadad;
}
.nav-menu ul li:hover {
    border-bottom: solid 1px #fff;
}
section {
    height: auto;
    width: 100%;
}
h2 {
    padding: 20px 30px 20px 30px;
}
p {
    padding-left: 30px;
}
section.about-section{
    margin-top: 60px;
    padding-top: 50px;
    scroll-margin-top: 3em;
    margin-bottom: 20px;
}
section.contact-section{
    background-color: #f2f2f2;
    scroll-margin-top: 3em;
    height: auto;
}
section.skills-section {
    background: #6aadad;
    margin-bottom: -25px;
    color: #fff;
}
/* scrolling object text */
.var-highlight{
	color: #FFDB66;
}
.string-highlight{
	color: #6aadad;
}
#typewriter{
	font-size: 18px;
	margin: 0;
	font-family: "Advent Pro";
    height: 160px;

	&:after {
	content: "|";
	animation: blink 500ms linear infinite alternate;
}
}
@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
/* Form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
    font-family: 'Advent Pro';
}
input[type=submit] {
    background-color: #6aadad;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #509191;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 300px 0 300px;
}
/* button */
div button.resumeBtn {
    margin-left: 30px;
}
.about-section button {
    background: #6aadad;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 9px 22px;
    width: 130px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    border: none;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}
.about-section button:hover {
    background: #509191;
    color: #fff;
    cursor: pointer;
}
/*skills grid*/
.skills-section .skills-container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skills-section .skills-container .grid div {
    border: 1px solid #000;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
}
.skills-container ul li {
    list-style-type:none;
}