body { 
   margin: 0px;
   font-family: 'Advent Pro';
   color: #c36847;
  }
div.nav-container {
    overflow: auto;
    zoom: 1;
    margin-right: 14px;
    margin-left: 30px;
}
div.nav-menu {
    float: right;
}
h1.home {
    line-height: 10px;
    color: #c36847;
}
.nav-menu a {
    text-decoration: none;
    color: #c36847;
    font-size: 22px;
}
.nav-menu ul li {
      display: inline;
      padding: 0px 8px 0px 8px;
      margin: 0px 8px 0px 8px;
  }
.nav-section {
    position: fixed;
    z-index: 1;
    height: 30px;
    width: 100%;
    padding-bottom: 25px;
    top:0;
    background-color: #ffffff;
}
.nav-menu ul li:hover {
    border-bottom: solid 1px #c36847;
}
section {
    height: 500px;
    width: 100%;
}
h2 {
    padding: 20px 30px 20px 30px;
}
p {
    padding-left: 30px;
}
section.about-section{
    margin-top: 60px;
    scroll-margin-top: 4em;
}
section.contact-section{
    background-color: #f2f2f2;
    scroll-margin-top: 4em;
}
.var-highlight{
	color: #ffffeb;
}
.string-highlight{
	color: #f7c548;
}
#typewriter{
		font-size: 18px;
		margin: 0;
		font-family: "Advent Pro";

		&:after{
			content: "|";
			animation: blink 500ms linear infinite alternate;
		}
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
/* Form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px 12px 12px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
    font-family: 'Advent Pro';
}
input[type=submit] {
    background-color: #c36847;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ac4b35;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}